@inject BasketService BasketService

 <div class="card w=50">
     <div class="card-header">
         New Cars
     </div> @*ToDo:Add new attributes*@
     <div class="card-body">
         <h5 class="card-title">Car @car.Id: @car.Name</h5>
         <img src="images/@car.Images.FirstOrDefault().URL" alt="Car Image" />
         <p class="card-text">@car.Make</p>
        <p class="card-text">@car.Model</p>
        <p class="card-text">@car.Colour</p>
        <p class="card-text">@car.EngineSize</p>
         <blockquote class="card-text"><strong>£@car.Price</strong></blockquote>
         
         @if(DisplayBuyButton)
         {
             <button class="btn btn-primary" type="button" 
                @onclick="()=> Buy(car.Id)">Buy</button>
         }

     </div>
</div>
    
@code 
{
    [Parameter]
    public Car car { get; set; } = new Car();

    [Parameter]
    public bool DisplayBuyButton { get; set; } = true;

    private void Buy(int productId)
    {
        BasketService.AddProductToCart(productId);
    }
}
